:root{
    --cor-primaria: rgb(0, 81, 255);
    --cor-secundaria: rgb(1, 1, 156);
    --fundo: rgb(230, 230, 230);
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: var(--fundo);
}
header{
    background-color: rgb(1, 1, 156);

}
.headerTitulo{
    color: aliceblue;
    padding: 20px;
    font-size: 2vw;
}

.headerItens{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}



.headerPesquisa{
    width: 30%;
    display: flex;
    align-items: center;
    
}
.headerPesquisa input{
    width: 90%;
    height: 2vw;
    max-height: 30px;
    min-height: 25px;
    font-size: 13px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    
}
.headerPesquisa input:focus{
    border: solid 2px var(--cor-primaria);
    outline: none;
}

.headerPesquisa svg{
    height: 35px;
    margin-left: 10px;
    path{
        stroke: aliceblue;
    }
}
.headerPesquisa svg:hover path{
    stroke: rgb(228, 228, 228);

}

.headerIcones{
    display: flex;
    justify-content: space-around;
    width: 10%;
    margin-right: 5%;
}
.headerIcones svg{
    height: 35px;
    
}
.cart path{
    stroke: aliceblue;
}
.cart:hover path{
    stroke: rgb(228, 228, 228);
}

.user path{
    fill: aliceblue;
}
.user:hover path{
    fill: rgb(228, 228, 228);
}

.headerNav{
    background-color: rgb(0, 81, 255);   
}

.headerNav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.headerNav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5vw;
    
}

.headerNav ul li a:hover {
    color: rgb(0, 0, 0);
}

.inicioBanner{
    background-color: lightgray;
    height: 30vw;
    display: flex;
}
.inicioBanner img{
    width: 100%;
    object-fit: cover;
}

.inicioMelhoresProdutos{
    text-align: center;
    font-size: 2vw;
    color: rgb(255, 255, 255);
    background-color: var(--cor-primaria);
    padding: 1.5vw 0;
}

.linhaProdutos{
    display: flex;
    justify-content: space-around;
    padding: 20px 5vw;
}

.linhaProdutos .cardProduto{
    background-color: white;
    width: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    font-size: 1.7vw;
}

.linhaProdutos .cardProduto:hover{
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.linhaProdutos .cardProduto img{
    width: 80%;
    object-fit: contain;
}

.banners{
    display: flex;
    justify-content: space-around;
    background-color: var(--fundo);
    padding: 3vw 0;
}

.bannersFigure{
    width: 40%;
    overflow: hidden;
    border-radius: 10px;
}

.bannersFigure img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.bannersFigure :hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.destaques{
    margin: 5vw 0 1vw 0;
    padding: 10px;
}

footer{
    height: 10vw;
    background-color: var(--cor-secundaria);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------------CATEGORIAS ---------------*/

.categorias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    
}

.categorias > h2{
    font-size: 1.2em;
    margin-top: 15px;
}

.categoriasLinha{
    display: flex;
    width: 80%;
    padding: 20px 0;
    justify-content: space-around;
    background-color: white;
    padding: 3vw 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    max-width: 50vw;
    margin-top: 30px;
}

.categoriasFigure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--fundo);
    padding: 10px;
    border: solid black;
    border-radius: 100%;
}

.categoriasFigure img{
    height: 7vw;
}

.categoriasFigure:hover{
    transform: scale(1.1);
    transition: 0.3s;
    background-color: var(--cor-secundaria);
}



.hoverVerde:hover {
    background-color: rgb(20, 175, 0);
}
.hoverPrimary:hover {
    background-color: var(--cor-primaria);
}

/* -------- Produtos -------- */

.produtos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}
.produtos h2{
    font-size: 1.5vw;
    margin-top: 10px;
}