*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header-titulo{
    background-color: rgb(1, 1, 156);
    color: aliceblue;
    padding: 20px;
}
.header-nav{
    background-color: rgb(0, 81, 255);   
}

.header-nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.header-nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header-nav ul li a:hover{
    color: rgb(0, 0, 0);
}

.inicio-banner{
    background-color: lightgray;
    height: 20vh;
    display: flex;
}
.inicio-banner img{
    width: 100%;
    object-fit: cover;
}

.inicio-categorias{
    background-color: rgb(141, 141, 141);
    padding: 10px 0;
}

.inicio-categorias ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.inicio-categorias ul li a{
    color: white;
    text-decoration: none;

}