:root{
    --cor-primaria: rgb(0, 81, 255);
    --cor-secundaria: rgb(1, 1, 156);
    --fundo: rgb(230, 230, 230);
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: var(--fundo);
}
header{
    background-color: rgb(1, 1, 156);

}
header a{
    text-decoration: none;
}
.headerTitulo{
    color: aliceblue;
    padding: 20px;
    font-size: 2vw;
    
}

.headerItens{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}



.headerPesquisa{
    width: 30%;
    display: flex;
    align-items: center;
    
}
.headerPesquisa input{
    width: 90%;
    height: 2vw;
    max-height: 30px;
    min-height: 25px;
    font-size: 13px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    
}
.headerPesquisa input:focus{
    border: solid 2px var(--cor-primaria);
    outline: none;
}

.headerPesquisa svg{
    height: 35px;
    margin-left: 10px;
    path{
        stroke: aliceblue;
    }
}
.headerPesquisa svg:hover path{
    stroke: rgb(228, 228, 228);

}

.headerIcones{
    display: flex;
    justify-content: space-around;
    width: 10%;
    margin-right: 5%;
}
.headerIcones svg{
    height: 35px;
    
}
.cart path{
    stroke: aliceblue;
}
.cart:hover path{
    stroke: rgb(228, 228, 228);
}

.user path{
    fill: aliceblue;
}
.user:hover path{
    fill: rgb(228, 228, 228);
}

.headerNav{
    background-color: rgb(0, 81, 255);   
}

.headerNav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.headerNav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5vw;
    
}

main{
    min-height: 90vh;
}

.headerNav ul li a:hover {
    color: rgb(0, 0, 0);
}

.inicioBanner{
    background-color: lightgray;
    height: 30vw;
    display: flex;
}
.inicioBanner img{
    width: 100%;
    object-fit: cover;
}

.inicioMelhoresProdutos{
    text-align: center;
    font-size: 2vw;
    color: rgb(255, 255, 255);
    background-color: var(--cor-primaria);
    padding: 1.5vw 0;
}

.linhaProdutos{
    display: flex;
    justify-content: space-around;
    padding: 20px 5vw;
    width: 100%;
    a{
        text-decoration: none;
        color: black;
    }
}

.linhaProdutosInicio{
    display: flex;
    justify-content: space-around;
    padding: 20px 5vw;
    a{
        text-decoration: none;
        color: black;
    } 
}

.cardProduto{
    background-color: white;
    width: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    font-size: 1.0vw;
    
}

.cardProduto:hover{
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardProduto img{
    width: 80%;
    object-fit: contain;
}

.banners{
    display: flex;
    justify-content: space-around;
    background-color: var(--fundo);
    padding: 3vw 0;
}

.bannersFigure{
    width: 40%;
    overflow: hidden;
    border-radius: 10px;
}

.bannersFigure img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.bannersFigure :hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.destaques{
    margin: 5vw 0 1vw 0;
    padding: 10px;
}

footer{
    height: 10vw;
    background-color: var(--cor-secundaria);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------------CATEGORIAS ---------------*/

.categorias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    
}

.categorias > h2{
    font-size: 1.2em;
    margin-top: 15px;
}

.categoriasLinha{
    display: flex;
    width: 80%;
    padding: 20px 0;
    justify-content: space-around;
    background-color: white;
    padding: 3vw 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    max-width: 50vw;
    margin-top: 30px;
}

.categoriasFigure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--fundo);
    padding: 10px;
    border: solid black;
    border-radius: 100%;
}

.categoriasFigure img{
    height: 7vw;
}

.categoriasFigure:hover{
    transform: scale(1.1);
    transition: 0.3s;
    background-color: var(--cor-secundaria);
}



.hoverVerde:hover {
    background-color: rgb(20, 175, 0);
}
.hoverPrimary:hover {
    background-color: var(--cor-primaria);
}

/* -------- Produtos -------- */

.produtos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}
.produtos h2{
    font-size: 1.5vw;
    margin-top: 10px;
}

/* ----------- Página de Produtos -----------*/
.produtoContainer{
    width: 60%;
    margin: 10px auto;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 10px;


}
.produtoContainer figure {
    width: 50%;
    
}
.produtoContainer img {
    width: 100%;
    
}


.produtoConteudo{
    width: 40%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    font-size: 1vw;
}

.produtoConteudo p {
    width: 85%;
    margin: 15px 0 0 5px;
    
}

.produtoPreco{
    font-size: 1.3vw;
}
.produtoConteudo button {
    width: 100%;
    height: 2vw;
    border: none;
    background-color: var(--cor-secundaria);
    color: aliceblue;
    font-size: 1vw;
    border-radius: 5px;
    border: solid 1px black;
    font-weight: bold;
    &:hover{
        background-color: var(--cor-primaria);
    }
}

.precoQuantidade{
    display: flex;
    
}

.quantidade{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.quantidade button{
    width: 3vw;
}

.quantidade p {
    margin: 0;
    text-align: center;
}

/* ---------- Login ----------- */
.loginContainer{
    margin: 10px auto;
    width: 40%;
    display: flex;
    justify-content: center;
    height: 20vw;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;

}

.loginContainer h4{
    background-color: var(--cor-secundaria);
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
    padding: 5%;
    text-align: center;
    border-radius: 10px 0 0 10px;
}

.loginContainer form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    border: solid 2px var(--cor-secundaria);
    border-radius: 0 10px 10px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0 10%;
    


}

.loginContainer form input{
    margin-bottom: 10px;
    height: 5%;
    padding: 1% 5%;
    border: solid 2px var(--cor-secundaria);
    border-radius: 5px;
    &::placeholder{
        color: var(--cor-secundaria);
    }
}

.loginContainer form a{
    text-align: center;
    
}

.loginContainer form button{
    margin: 20px 0 0 0 ;
    width: 100%;
    padding: 2%;
    border: none;
    background-color: var(--cor-secundaria);
    color: aliceblue;
    font-size: 1rem;
    border-radius: 5px;
    border: solid 1px black;
    &:hover{
        background-color: var(--cor-primaria);
        font-weight: bold;
    }
}

.cadastrar, .entrar{
    font-size: 0.9rem;
    margin: 0.5px 0 0 5px;
    color: black;
    text-decoration: none;
    &:hover{
        color: var(--cor-secundaria);
        font-weight: bold;
    }
}

.admRoute{
    text-decoration: none;
    color: var(--cor-secundaria);
    margin-left: 47vw;
    font-size: 1vw;
}

/* ------------- Contato -------------- */
.contatoContainer{
    margin: 20px auto;
    background-color: var(--cor-secundaria);
    width: 30%;
    color: aliceblue;
    padding: 1%;
    border-radius: 10px;
    
}
.contatoForm{
    display: flex;
    flex-direction: column;
    padding: 10% 10%;
}
.contatoForm label{
    margin-top: 20px;
}
.contatoForm input{
    height: 1.5vw;
    border-radius: 3px;
    padding: 0 5px;
}

.contatoForm textarea{
    height: 3vw;
    padding: 5px;
}

.contatoForm button{
    margin-top: 10px;
    background-color: var(--cor-primaria);
    padding: 10px;
    border: none;
    color: aliceblue;
    font-size: 1rem;
}

/* ------------ Sobre Nós ------------ */

.sobreNosContainer{
    margin: 20px auto;
    width: 30%;
    padding: 2% 5%;
    background-color: var(--cor-secundaria);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: justify;

}

/* Carrinho */
.carrinhoContainer{
    display: flex;
    width: 60%;
    margin: 20px auto;
    justify-content: center;
    background-color: white;
    padding: 20px;
}
.linhaCarrinho{
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 30%;
   
}
.cardCarrinho{
    width: 100%;
}

.carrinhoTexto{
    width: 40%;
    height: 10vw;
    margin: 20px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    background-color: var(--fundo);
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    gap: 10px;

}

.carrinhoTexto h3{
    text-align: center;
    margin: 10px;
}

.carrinhoTexto a {
    text-decoration: none;
    color: white;
    background-color: var(--cor-secundaria);
    padding: 7px 0;
    text-align: center;
}

.checkoutContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-secundaria);
    width: 30%;
    height: 10vw;
    margin: 20px auto;
    color: aliceblue;
    padding: 20px;
    

}

.checkoutContainer h3{
    font-size: 1rem;
    margin: 30px;
}

.checkoutContainer a{
    color: aliceblue;
    text-decoration: none;
    
    
}

.finalizar {
    background-color: var(--cor-primaria);
    padding: 10px;
    margin-right: 4vw;

}
.cancelar{
    background-color: rgb(161, 0, 0);
    padding: 10px;
}