:root{
    --cor-primaria: rgb(0, 81, 255);
    --cor-secundaria: rgb(1, 1, 156);
    --fundo: rgb(230, 230, 230);
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: var(--fundo);
}
.headerTitulo{
    background-color: rgb(1, 1, 156);
    color: aliceblue;
    padding: 20px;
}
.headerNav{
    background-color: rgb(0, 81, 255);   
}

.headerNav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.headerNav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2vw;
    
}

.headerNav ul li a:hover {
    color: rgb(0, 0, 0);
}

.inicioBanner{
    background-color: lightgray;
    height: 30vw;
    display: flex;
}
.inicioBanner img{
    width: 100%;
    object-fit: cover;
}

.inicioMelhoresProdutos{
    text-align: center;
    font-size: 2vw;
    color: rgb(255, 255, 255);
    background-color: var(--cor-primaria);
    padding: 1.5vw 0;
}

.linhaProdutos{
    display: flex;
    justify-content: space-around;
    padding: 20px 5vw;
}

.linhaProdutos .cardProduto{
    background-color: white;
    width: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    font-size: 1.7vw;
}

.linhaProdutos .cardProduto:hover{
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.linhaProdutos .cardProduto img{
    width: 80%;
    object-fit: contain;
}

.banners{
    display: flex;
    justify-content: space-around;
    background-color: var(--fundo);
    padding: 3vw 0;
}

.bannersFigure{
    width: 40%;
    overflow: hidden;
    border-radius: 10px;
}

.bannersFigure img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.bannersFigure :hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.destaques{
    margin: 5vw 0 1vw 0;
    padding: 10px;
}

/* .inicioCategorias{
    background-color: rgb(74, 60, 128);
    padding: 10px 0;
}

.inicio-categorias ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.inicio-categorias ul li a{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2vw;

}

.inicio-categorias ul li a:hover{
    color: rgb(209, 221, 255);
}
.inicio-categorias ul li a img{
    height: 6vw;
}
.inicio-categorias ul li a img:hover{
    transform: scale(1.1);
} */

/* ---------------CATEGORIAS ---------------*/

.categorias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.categoriasLinha{
    display: flex;
    width: 80%;
    padding: 20px 0;
    justify-content: space-around;
    background-color: white;
    padding: 3vw 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    max-width: 50vw;
    margin-top: 30px;
}

.categoriasFigure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--fundo);
    padding: 10px;
    border: solid black;
    border-radius: 100%;
}

.categoriasFigure img{
    height: 100px;
}

.categoriasFigure:hover{
    transform: scale(1.1);
    transition: 0.3s;
    background-color: var(--cor-secundaria);
}



.hoverVerde:hover {
    background-color: rgb(20, 175, 0);
}
.hoverPrimary:hover {
    background-color: var(--cor-primaria);
}